/*hwyl...2016-07-13*/
*{
    margin: 0;
}
html, body {
    height: 100%;
}
label{
    text-align: left;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */ 
}

.tblborder th {
    border : 2px solid #fff;
    background-color :  #3b5998;
    white-space: nowrap;
    font-weight: bold;
    color : white;
    text-align : center;
 }
.sorter{
    color : black;
    font-size:10px;
    text-align : right center; 
}


